body {
    color: $dark;
    font-size: 20px;
    line-height: 150%;
    font-family: 'Rubik', sans-serif;
    background-color: $silver-100;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.animation {
    border-radius: 5px;
    transition: opacity 0.5s, box-shadow 0.5s, text-shadow 0.5s, color 0.5s;
}

.animation:hover {
    color: $orange-900;
}

.animation:focus {
    box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
}

.animation:active {
    text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
}

.animation-icon {
    border-radius: 5px;
}

.animation-icon:focus {
    background-color: rgba(255, 122, 80, 0.1);
    box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
}

.animation-icon:hover {
    background-color: $orange-900;
}

.animation-icon:hover.user-nav__btn path {
    stroke: #fff;
}

.animation-icon:hover.user-nav__btn ellipse {
    stroke: #fff;
}

.animation-icon:active {
    background-color: #fff2ed;
    box-shadow: none;
}

.animation-icon:active.user-nav__btn path {
    stroke: $dark-blue-900;
}

.animation-icon:active.user-nav__btn ellipse {
    stroke: $dark-blue-900;
}

.user-nav__animation-num:hover span {
    background-color: #fff;
    color: $orange-900;
}

.animation-btn:focus {
    color: $orange-900;
    background-color: rgba(255, 122, 80, 0.1);
    box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
}

.animation-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 5px 12px rgba(255, 104, 56, 0.2), 0 0 0 2px rgba(255, 104, 56, 0.7);
    color: $orange-900;
}

.animation-btn:active {
    background-color: rgba(255, 122, 80, 0.1);
    box-shadow: inherit;
    color: $orange-900;
}

.animation-link:focus {
    box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
    border-radius: 5px;
    text-decoration: none;
}

.animation-link:hover {
    color: $orange-900;
    text-decoration: none;
}

.animation-link:active {
    text-shadow: 2px 2px 5px rgba(54, 56, 83, 0.5);
    color: $dark-blue-900;
    box-shadow: none;
}

.animation-social:focus {
    background-color: #FFF2ED;
    box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
}

.categories__name:focus {
    background-color: #fff;
    box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
}

.categories__name:hover {
    background: rgba(255, 122, 80, 0.1);
    box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
    color: $orange-900;
}

.categories__name:hover.categories__name path {
    fill: $orange-900;
}

.categories__name:hover.categories__name.mixitup-control-active path {
    fill: #fff;
}

.categories__name:active {
    box-shadow: inset 0 -5px 12px rgba(255, 104, 56, 0.2);
    background-color: #fff;
}

.categories__name.mixitup-control-active {
    color: #fff;
    background-color: $orange-900;
}

.categories__name.mixitup-control-active path {
    fill: #fff;
}

.title {
    font-weight: 600;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
    margin-bottom: 60px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}