@import "vars";
@import "fonts";
@import "reset";
@import "global";
.header {
    padding: 60px 0 120px;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 60px;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__items {
        max-width: 450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__title {
        font-weight: 600;
        font-size: 66px;
        line-height: 130%;
        text-transform: uppercase;
        color: $dark-blue-900;
    }
    &__title span {
        display: block;
        color: $orange-900;
        margin-bottom: 20px;
    }
    &__text {
        margin-bottom: 20px;
    }
    &__btn {
        background-color: $orange-900;
        border-radius: 6px;
        padding: 12px 32px;
        margin-right: 34px;
        font-size: 18px;
        line-height: 130%;
        color: #fff;
        border: none;
    }
    &__link {
        text-decoration: underline;
        color: $dark-blue-900;
    }
}

.menu {
    margin-left: auto;
    margin-right: 55px;
    &__list {
        display: flex;
    }
    &__list-item:not(:last-child) {
        margin-right: 35px;
    }
    &__list-link--active {
        color: $orange-900;
    }
}

.logo:active {
    opacity: 0.5;
}

.logo:hover {
    opacity: 0.8;
}

.user-nav {
    display: flex;
    position: relative;
    text-align: center;
    margin-top: 1px;
    &__link:first-child {
        margin-right: 10px;
    }
    &__link {
        width: 44px;
        height: 44px;
        padding: 12px 0;
    }
    &__num {
        position: absolute;
        width: 14px;
        height: 14px;
        top: 10px;
        right: 5px;
        font-size: 10px;
        border-radius: 50%;
        background-color: $orange-900;
        color: #fff;
        text-align: center;
        line-height: 16px;
    }
}

.categories {
    padding-bottom: 120px;
    &__items {
        display: flex;
    }
    &__item:not(:last-child) {
        margin-right: 20px;
    }
    &__name {
        display: flex;
        align-items: center;
        padding: 12px 32px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 0 1px #ECECEC;
        line-height: 130%;
        margin-bottom: 45px;
    }
    &__name svg {
        margin-right: 10px;
    }
    &__content {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        flex-direction: row;
    }
    &__list img {
        margin-bottom: 10px;
    }
    &__list {
        width: 210px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 20px 15px;
        box-shadow: 0 0 0 1px #ECECEC;
        background-color: #fff;
        border-radius: 5px;
        margin-bottom: 30px;
    }
    &__list:hover {
        box-shadow: 0 0 0 1px #FF6838;
    }
    &__title {
        font-weight: 400;
        font-size: 15px;
        line-height: 130%;
        text-align: center;
        margin-bottom: 10px;
    }
    &__price {
        font-weight: 600;
        font-size: 15px;
        line-height: 140%;
        margin-bottom: 10px;
    }
    &__base {
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        padding: 7px 16px;
        background-color: $orange-900;
        border-radius: 6px;
        color: #fff
    }
    &__link {
        width: 133px;
        transform: translateY(30px);
        margin: 0 auto;
        display: block;
        text-decoration: underline;
        text-align: center;
    }
}

.footer {
    padding-bottom: 70px;
    &__logo {
        margin-bottom: 30px;
    }
    &__items {
        display: flex;
    }
    &__item {
        display: flex;
        flex-direction: column;
    }
    &__item:not(:last-child) {
        margin-right: 70px;
    }
    &__item a:not(:last-child) {
        margin-bottom: 20px;
    }
    &__form {
        width: 200px;
    }
    &__label {
        color: #c2c2c2;
    }
    &__input {
        width: 100%;
        border-radius: 5px;
        font-size: 14px;
        line-height: 130%;
        padding: 13px 15px;
        margin-bottom: 12px;
    }
    &__btn {
        font-size: 14px;
        line-height: 130%;
        padding: 13px 39px;
        background-color: $orange-900;
        color: #fff;
        border-radius: 5px;
    }
    &__btn svg {
        margin-right: 16px;
    }
    &__address svg {
        margin-right: 12px;
        transform: translateY(5px);
    }
    &__link:not(:last-child) {
        margin-right: 13px;
    }
}

@import "media";